langchain==0.3.18
openai==1.61.1
pandas==2.2.3
Pillow==11.1.0
PyPDF2==3.0.1
streamlit==1.28.2
streamlit_chat==0.1.1
streamlit_feedback==0.1.4
langchain-community==0.3.17
langchain-core==0.3.34
langchain-text-splitters==0.3.6
langsmith==0.3.7
